.check-boxes {
  display: flex;
  justify-content: space-between;
}
.check-boxes-container {
  margin: 15px 0;
}
.check-boxes-container h4 {
  line-height: 1;
}

@media (max-width: 992px) {
  .check-boxes-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .check-boxes {
    justify-content: space-between;
    flex-direction: column;
  }
}
