.forms-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px;
  margin-top: 60px;
  align-items: center;
  transition: 0.3s;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}
.forms-entry:hover {
  box-shadow: rgba(100, 100, 111, 0.16) 0px 7px 29px 0px;
}

.forms-icon_container {
  background-color: #004a91;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27.5px;
  align-items: center;
  margin-right: 15px;
}
.forms-entry_description {
  line-height: 1;
}
.forms-entry_description h3 {
  color: #004a91;
  font-weight: bold;
}
.forms-entry_description p {
  color: #004a91;
  font-weight: 300;
}

.forms-entry_first-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms-entry_second-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forms-entry_second-section .sort-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  border: 1px solid #b7b7ba;
  padding: 9px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.forms-entry_second-section .sort-by:hover {
  background-color: #ededed;
}

.forms-entry_second-section span {
  font-weight: 300;
  color: #004a91;
}

.forms-entry_second-section input:nth-child(1) {
  padding: 10px 30px 10px 10px;
  margin: 0 10px 0 0;
  width: 250px;
  border: 1px solid #b7b7ba;
  height: 40px;
  box-sizing: border-box;
}

.search-input_container {
  position: relative;
}

.search-input_container img {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
}

/* Small */
@media (max-width: 768px) {
  .forms-icon_container {
    display: none;
  }
  .forms-icon_container img {
    display: none;
  }
  .forms-entry_description p {
    font-size: 12px;
    line-height: 1;
  }
  .forms-entry_second-section {
    width: 100%;
    flex-direction: column;
  }
  .search-input_container img {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-right: 10px;
  }
  .forms-entry_second-section input:nth-child(1) {
    width: 100%;
    margin: 10px 0;
  }
  .forms-entry_second-section .sort-by {
    width: 100%;
  }
  .search-input_container {
    width: 100%;
  }
  .forms-entry {
    padding: 15px;
    flex-direction: column;
    align-items: start;
  }
}
/* Meduim */
@media (max-width: 992px) {
  .forms-entry {
    padding: 15px;
    flex-direction: column;
    align-items: start;
  }
}
